.deleteBtn {
  color: grey;
  text-decoration: none;
  border: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.deleteBtn:hover {
  color: maroon;
}

.todoText {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.completed {
  text-decoration: line-through;
}
