.completed {
  text-decoration: line-through;
}

.completed .deleteIcon {
  color: grey;
  text-decoration: none;
}

.todoText {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteIcon:hover {
  color: maroon;
}
